<h2>Boards</h2>

<ul class="boards"></ul>

<label>New Board:
  <form class="new-board-form">
    <label>Title
      <input type="text" name="board[title]">
    </label>
    <input type="submit" value="Create Board">
  </form>
</label>
